@charset "UTF-8";

body{
	
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	background:url(file:///Users/vleon/Documents/GitHub/ProyectoWEB/src/main/webapp/img/login.jpg);
	background-size:cover;    
}