@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}


body{
	font-family: 'Poppins', sans-serif;	
}

.menu {
	background-color : #1A202C;
	color : #fff;
	height : 70px;
}


.menu__container {
	display: flex;
	justify-content: space-between ;
	align-items: center;
	width: 90%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;	
}

.menu__links{
	height: 100%;
	transition: transform .5s;
	display: flex;
}

.menu__item{
	list-style: none;
	position: relative;
	height: 100%;	
	--clip: polygon(0 0, 100% 0, 100% 0, 0 0);
	--transform: rotate(-90deg);
	
}

.menu__item:hover{
	--clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	--transform: rotate(0);
}

.menu__link{
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu__link:hover{
	background-color: #5e7094; 
}

.menu__arrow{
	transform: var(--transform);
	transition: transform .3s;
	display: block;
	margin-left: 3px;
}

.menu__nesting{	
	list-style: none;	
	transition: clip-path .3s;
	clip-path: var(--clip);
	position: absolute;
	right: 0;
	bottom: 0;
	width: max-content;
	transform: translateY(100%);
	background-color: #000;
}

.menu__link--inside{
	padding: 20px 60px 20px 20px;	
}

.menu__link--inside:hover{
	background-color: #798499;
}



/*	MODELS -- FORMULARIOS	*/










