.container_contenedorForm{
	width: auto;
	padding: 0 20% 0 20%;
	
}

.container_Listado{
	width: auto;
	margin: 0 10% 0 10%;
	
}

.boton_editar{
	width: 20px;
}

.boton_editar:hover{
	width: 20px;
	
}